*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0 auto;
}

/* html {
  font-size: 16px;
} */

html, body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  background-color: #efefef;
  margin: 0;
}

a {
  color: #505050;
  text-decoration: none;
}

.container {
  padding: 0 5%;
  margin: 0 auto;
}

.header_top {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .header_top,
  .header-search {
    display: none;
  }
}

.header_nav {
  display: flex;
  justify-content: center;
  max-width: 100%;
  list-style: none;
  margin: 0;
}

.header_item {
  padding: 0 20px;
  margin: 10px;
  border: 1px solid black;
  border-radius: 15px;
  transition: 0.15s all;
}

.header_item:hover {
  transform: scale(1.1);
}

.header_img {
  display: block;
  max-width: 100px;
  /* max-width: 64px; */
}

/* ==================HEADER MIDDLE================ */

.header_middle .header_logo {
  text-align: center;
}

.header_middle .header_logo a {
  display: block;
}

.header_middle .call {
  position: relative;
}

.header_middle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header_middle .phones {
  list-style: none;
  line-height: 1.2;
  padding: 0;
}

@media (max-width: 768px) {
  .header_middle {
    flex-direction: column;
  }
}

/* =========================HEADER SEARCH========================= */

.header_middle .input_search {
  width: 300px;
  height: 30px;
  padding: 0 5px;
  border-radius: 5px 0 0 5px;
  border: 1px solid #ccc;
}

.fa-search::before {
  content: "\f002";
}

.header-search form {
  display: flex;
}

.header-search .btn {
  margin: 0;
  height: 30px;
  width: 35px;
  border-radius: 0 5px 5px 0;
  border: 1px solid #ccc;
}

/* ======================HEADER BOTTOM====================== */

.header_bottom {
  background: #e7e7e7;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  padding: 0 5%;
  margin-bottom: 10px;
  position: relative;
}

.header_bottom .header_bottom-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header_bottom .header_bottom-nav li {
  border-left: 1px solid #c7c7c7;
  position: relative;
  display: inline-block;
}

.header_bottom .header_bottom-nav li a {
  /* color: #505050; */
  display: block;
  padding: 10px 9px;
}

.header_bottom .header_bottom-nav li.sales {
  background: rgb(233, 155, 100);
}

.header_bottom-item:hover {
  opacity: 0.85;
}

.fa-caret-down::before {
  content: "\f0d7";
}

/* ===================INDEX BLOCKS===================== */

.index-blocks {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

/* .item {
  position: relative;
  height: 100%;
  padding: 10px;
} */

.index-blocks .index-block {
  flex-basis: 100%;
  position: relative;
  transition: 0.2s linear;
  margin-bottom: 4px;
}

.index-blocks .index-block:hover {
  opacity: 0.6;
}

.index-blocks .index-block.one {
  width: 100%;
}

.index-blocks .index-block.one img {
  height: 250px;
  object-fit: cover;
}

.index-blocks .index-block .two {
  flex-basis: calc(50%-2px);
}

.index-blocks .index-block img {
  height: 300px;
  width: 100%;
  object-fit: cover;
}

.index-blocks .index-block.two {
  flex-basis: calc(50% - 2px);
}

.index-blocks a {
  position: relative;
}

.index-blocks .index-block h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  margin: 0;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  font-size: 24px;
  color: #fff;
  font-weight: normal;
}

/* =================FOOTER================== */

.footer_nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  list-style: none;
}

.footer .footer_nav li {
  display: inline-block;
  padding: 0 10px;
}

.footer .footer_nav li a {
  display: block;
}

@media (max-width: 768px) {
  .footer_nav {
    flex-flow: column wrap;
    padding: 0;
  }
}

@media (max-width: 768px) {
  .footer_nav a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}
